<!DOCTYPE html>
<html>
  <head>
    <title>Nommly | Personalized Recipe Recommendations and Search</title>
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('n-icon.png') %>
    <meta property="og:title" content="Nommly" />
    <meta property='og:image' content="<%= image_url('splash.jpg') %>"/>
    <meta property="og:description"
       content="​a Yummly clone. Help people discover what to eat based on personal preferences and data" 
    />
    <meta property="og:url"
      content="http://nommly.herokuapp.com/"
    />
    <script src="https://kit.fontawesome.com/aba5f5cd37.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
      window.nommedIcon = "<%= image_url('nommed.png') %>";
    </script>
    <script type="text/javascript">
      window.nomIcon = "<%= image_url('nom.png') %>";
    </script>
    <script type="text/javascript">
      window.nommlyLogo = "<%= image_url('nommly-Logo-2020.png') %>";
    </script>
  </head>

  <body>

    <%= yield %>
  </body>
</html>
